<!DOCTYPE html>
<html>
    <head>
        <title> NOt found</title>
    </head>
    <body>
        <section>
            <h1> not found <%= request.path %> </h1>
        </section>
    </body>
</html>